* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url("../images/field.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
}

.welcome-text {
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.site-name {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 15px;
}

.tagline {
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 1.5;
    opacity: 0.9;
}

.login-btn {
    padding: 12px 32px;
    font-size: 16px;
    letter-spacing: 1px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color:white;
    color: black;
    
}
.buttons {
    display: flex;
    gap: 20px;          /* space between buttons */
    justify-content: center;
    margin-top: 20px;
}

/* ===== AUTH PAGES (signup & login) ===== */

.auth-container {
    height: 100vh;
    width: 100%;
    background-image: url("/static/images/field.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* glass style box */
.auth-box {
    background: transparent;
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    color: white;
    backdrop-filter: blur(6px);
}

.auth-box h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

/* input styling */
.auth-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

/* button */
.auth-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-btn:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}

/* bottom text */
.switch-text {
    margin-top: 15px;
    font-size: 14px;
}

.switch-text a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.back-home {
    display: inline-block;
    margin-top: 18px;
    padding: 10px 18px;

    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.5px;

    border: 1.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);

    transition: all 0.25s ease;
}
.back-home:hover {
    background: white;
    color: black;
    border-color: white;
    transform: translateY(-1px);
}