/* RESET */
html, body {
    height: 100%;
    background: #000;   /* prevents white flash */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.navbar {
    position: fixed;   /* or sticky if you used that */
    top: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px;

    /* Black transparent bar */
    background: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

/* NAV LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #dbe3ea;
}

.nav-links a:hover {
    color: white;
}
/* HERO */
.hero {
    min-height: 100vh;
    padding: 120px 0 80px 0; /* space for navbar + bottom */

    background: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("/static/images/tnc.jpg") center/cover no-repeat;
    padding-top: 120px;
    color:white;
    overflow: hidden;
}
/* Overlay */
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.45),
        rgba(0, 40, 20, 0.45)
    );
}

.content {
    position: relative;
    z-index: 2;
    max-width: 1000px;
    margin: auto;
    padding: 0 40px;
}

.content h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}

.effective-date {
    text-align: center;
    margin-bottom: 60px;
    font-size: 18px;
    opacity: 0.85;
}

/* TNC SECTIONS */
.tnc-section {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}

.line {
    width: 6px;
    background: #7ed957;
    border-radius: 4px;
}

.tnc-section h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.tnc-section p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 10px;
    opacity: 0.95;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .tnc-section {
        flex-direction: column;
    }

    .line {
        height: 4px;
        width: 60px;
    }

    .content h1 {
        font-size: 36px;
    }
}